<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edwin.emsp.dao.mapper.AccountMapper">
    <!-- 分页查询账户 -->
    <select id="selectAccountsByLastUpdated" resultType="Account">
        SELECT id,
               email,
               contract_id AS contractId,
               status,
               create_time AS createTime,
               update_time AS updateTime
        FROM emsp_account
        WHERE update_time >= #{lastUpdated}
        ORDER BY update_time DESC
    </select>


</mapper>
